name: Issue Events Demo

on:
  issue_comment:
    types: [created]
  issues:
    types: [opened, edited, closed]

jobs:
  issue_event:
    runs-on: ubuntu-latest
    steps:
      - name: Show Event Info
        run: echo "Triggered by ${{ github.event_name }} event"
